<div class="homepage">
  <div class="homepage-introduction">
  <h1 class="homepage-heading">{{title}}</h1>
  <p class="homepage-description">A tool created for dividend based investors to analyze your current investments</p>
  </div>
</div>