// Colours
$white: #fff;
$black: #000;
$very-light-gray: #ededed;
$light-gray: #9d9d9d;
$brand: #011F39;
$brand-off: #02203C;
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
$font-family-primary: "Roboto", sans-serif;

// Variables

// Overrides

h1 {
  @extend %type-body;
  font-size: 38px;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  @extend %type-body;
}

body {
  background: $white;
  margin: 0;
}


ul, li, a {
  text-decoration: none;
  list-style-type: none;
}